.popup {
  /* display: none; */
}

.popup__overlay {
  opacity: .7;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.popup__content {
  position: absolute;
  top: 12%;
  left: 34%;
  display: flex;
}

.popup_show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup__content {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;

}