@import url(./fonts/fonts.css);
@import url(./styles/normalize.css);
/* Header */
@import url(./blocks/header/header.css);


h1, h2, h3, h4, h5, h6, p, li, ul, ol, figure, figcaption, blockquote, dl, dd, dt, table, th, td, hr, pre, code, .header, .footer, .main, .page {
  margin: 0;
}

body {
  max-width: 100%;
  margin: auto;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 1.5;
  background-color: #000;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
/*   border: 1px solid red; */
}