@import url(./fonts/fonts.css);
@import url(./styles/normalize.css);
/* Header */
@import url(./blocks/header/header.css);


/* .page {
  max-width: 100%;
  min-width: 320px;
  margin: auto;
  font-family: 'Inter';
  background-color: black;
  color: #fff;
  display: flex;
  flex: column;
  align-items: center;
  border: 1px solid red;
} */

body {
  width: 880px;
  margin: auto;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}