.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4em 0 2.4em;

}

.profile__avatar {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.profile__info-container {
  width: 282px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 14px;
}

.profile__name {
  font-weight: 400;
  font-size: 1.3em;
}

.profile__job {
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 2.25rem;
}

/* @media screen and (min-width: 600px) {
  .profile {
    width: 10%;
    height: 120px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
  }

  .profile__avatar {
    margin: 0 40px 0 0;
  }

  .profile__info {
    align-items: flex-start;
  }

  .profile__info-container {
    width: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0;
  }

  .profile__name {
    font-weight: 500;
    font-size: 2.5em;
  }

  .profile__job {
    font-weight: 400;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
  }
} */