.button_edit {
  background: url(../../images/edit_button.svg) no-repeat center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
}

.button_add {
  background: url(../../images/add_button.svg) no-repeat center;
  width: 288px;
  height: 50px;
  border-radius: 2px;
  border: 1px solid #fff;
}

.button_like {
  background: url(../../images/heart__button.svg) no-repeat center;
  width: 21px;
  height: 19px;
  display: flex;
  align-items: center;
  border: none;
  transition: 0.3s;
}

.button_like.liked {
  background: url(../images/like-black.svg);
  opacity: 1;
}

.button_like:hover {
  transform: scale(1.2);
}

.button_close {
  background: url(../../images/close_button.svg) no-repeat center;
  width: 24px;
  height: 24px;
  border: none;
  rotate: 90deg;
  transform: rotate(90deg);
  position: absolute;
  top: -13%;
  right: 0%;
}

.button_submit {
  background-color: #000;
  color: #fff;
  width: 238px;
  height: 46px;
  border-radius: 2px;
  margin: auto;
}

.button__submit-disabled {
  border: 1px solid #cccccc;
  opacity: 0.5;
  cursor: default;
  background: white;
  color: #cccccc;
}

.button_delete {
  background: url(/images/trash_button.svg);
  position: absolute;
  top: 18px;
  right: 15px;
  width: 19px;
  height: 19px;
  border: none;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  transition: 0.3s;
}

.button_delete:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 600px) {
  .button_add {
    width: 150px;
    height: 50px;
  }

  .button_close {
    top: -10%;
    right: -5%;
  }
}
