.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #333;
}

.header__logo {
  width: 126px;
  height: 24px;
  padding: 28px 0 32px 27px;
}

@media screen and (max-width: 880px){
  .header__logo {
    width: 100%;
    max-width: 173px;
    height: auto;
  }
}