.button__type-edit {
  background: url(../../images/edit_button.svg) no-repeat center;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}

.button__type-add {
  background: url(../../images/add_button.svg) no-repeat center;
  box-sizing: border-box;
  width: 288px;
  height: 50px;
}

@media screen and (min-width: 320px) {
  .button__type-edit {
    width: 18px;
    height: 18px;
  }
}
